/* 画面全体 */

.exhibition-form {
    width: 45%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
}

/* タイトル */

.exhibition-form__ttl {
    margin: 0 0 40px 0;
    text-align: center;
    font-size: 24px;
}

/* フォーム */

.exhibition-form__group {
    margin-bottom: 35px;
}

.exhibition-form__sub-ttl--heading{
    margin: 0 0 25px 0;
    border-bottom: 1px solid #5F5F5F;
    color: #5F5F5F;
    font-size: 22px;
}

.exhibition-form__sub-ttl {
    margin: 0 0 5px 0;
    font-size: 18px;
}

.exhibition-form__label {
    display: block;
    margin: 10px 0 5px 0;
    font-weight: bold;
}

/* 商品画像エリア */

.exhibition-form__item-img-area {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    text-align: center;
    border: 1px dashed #5F5F5F;
    background-color: #fff;
}

/* プレビュー画像 */
.exhibition-form__img-preview {
    display: none; /* 通常時は隠す */
    max-width: 100%;
    max-height: 150px;
    object-fit: contain;
}

/* 画像選択ボタン */

.exhibition-form__label--select{
    display: block;
    width: 25%;
    padding: 5px 5px;
    border: 2px solid #ff5555;
    border-radius: 7px;
    background-color: #fff;
    color: #ff5555;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.exhibition-form__file-input {
    display: none;
}

/* カテゴリ選択 */

.exhibition-form__category-list {
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
    gap: 10px;
}

.exhibition-form__category-input {
    display: none;
}

.exhibition-form__category-label {
    display: inline-block;
    margin: 10px 3px;
    padding: 3px 10px;
    border: 2px solid #ff5555;
    border-radius: 20px;
    color: #ff5555;
    cursor: pointer;
}

/* チェック済みカテゴリ */

.exhibition-form__category-input:checked + .exhibition-form__category-label {
    border-color: #ff5555;
    background-color:#ff5555;
    color: #fff;
}

/* カテゴリ 矢印 */

.condition-list {
    position: relative;
}

.condition-list::after{
    position: absolute;
    top: 40%;
    left: 95%;
    width: 0;
    height: 0;
    border-top: 12px solid #5F5F5F;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    content: "";
    transform: translateY(-50%);
    pointer-events: none;
}

.exhibition-form__select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* --- その他入力欄 --- */

.exhibition-form__select,
.exhibition-form__input,
.exhibition-form__textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #5F5F5F;
    border-radius: 5px;
    font-size: 16px;
}

.exhibition-form__textarea {
    height: 120px;
}

/* 販売価格 */

.exhibition-form__detail-price{
    position: relative;
}

.exhibition-form__detail-price::before{
    position: absolute;
    top: -5%;
    left: 0;
    width: 0;
    height: 0;
    content: "¥";
    padding: 10px;
    font-weight: bold;
}

.price-input{
    padding-left: 30px;
}

/* 出品ボタン */

.exhibition-form__submit {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff5555;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

/* バリデーションエラー */
.exhibition-form__error-message {
    margin: 5px 0;
    color: #dc3545;
    font-size: 14px;
}
