.mypage-list {
    background-color: #fff;
}

.mypage-list__heading {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    margin: 50px 0;
}

.mypage-list__user-img-display {
    grid-column: 1;
    justify-self: end;
    width: 150px;
    height: 150px;
    margin-right: 25px;
    border-radius: 50%;
    background-color: #f0f0f0;
    background-size: cover;
    background-position: center;
}

/* ユーザー名 */
.mypage-list__user-name {
    grid-column: 2;
    font-size: 30px;
    font-weight: bold;
}

.mypage-list__user-name{
    margin-left: 35px;
}

/* プロフィール編集ボタン */
.mypage-list__profile-button {
    grid-column: 3;
    padding: 12px 35px;
    border: 2px solid #ff5e5d;
    border-radius: 5px;
    color: #ff5e5d;
    background-color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

/* --- タブエリア --- */
.mypage-list__tab {
    display: flex;
    align-items: center;
    height: 45px;
    margin-top:30px;
    padding-left: 120px;
    gap:40px;
    border-bottom: solid 1px #5f5f5f;
}

.mypage-list__tab-link {
    color: #5f5f5f;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.mypage-list__tab-link--active {
    color: #ff5e5d;
}

.mypage-list__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 45px;
    width: 92%;
    margin: 0 auto;
    padding: 60px 0;
}

.mypage-list__item-link {
    display: block;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.mypage-list__sold-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.8);
    color: white;
    font-size: 24px;
    font-weight: bold;

    /* ★ 普段は隠す */
    opacity: 0;
    visibility: hidden;
}

.mypage-list__item-link.--sold
.mypage-list__sold-box {
    opacity: 1;
    visibility: visible;
}

.mypage-list__item-name {
    margin: 3px auto;
}

.mypage-list__success-message--flash{
    display: inline-block;
    margin: 10px 0 10px 20px;
    color:#dc3545;
    background:linear-gradient(transparent 75%,#ffdead 75%);
    font-size: 20px;
}
